vw.fuhrmann.dev {
    reverse_proxy vaultwarden:80
}

port.fuhrmann.dev {
    reverse_proxy portainer:9000
}

clarity-guild.live {
    handle /secret* {
        reverse_proxy clarity-secret:3002
    }
    handle {
        reverse_proxy clarity-backend:3001
    }
}

task.fuhrmann.dev {
    handle /api/* {
        reverse_proxy freelancehub_api:3000
    }
    handle /uploads/* {
        reverse_proxy freelancehub_api:3000
    }
    handle {
        reverse_proxy freelancehub_web:80
    }
    encode gzip
    header {
        X-Content-Type-Options nosniff
        X-Frame-Options DENY
        -Server
    }
}

progress.clarity-guild.live {
    handle /api/* {
        reverse_proxy bdo-tasks-bdo-tasks-backend-1:3002
    }
    handle {
        reverse_proxy bdo-tasks-bdo-tasks-frontend-1:80
    }
}

bib.fuhrmann.dev {
    reverse_proxy bib-demo-web:8000
}

mop.fuhrmann.dev {
    root * /srv/mop
    file_server
    encode gzip
}

web.fuhrmann.dev {
    root * /srv/web
    @hidden path *.md
    respond @hidden 404
    file_server
    encode gzip
    header {
        X-Content-Type-Options nosniff
        X-Frame-Options DENY
        -Server
    }
}
